html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* ------style內容------ */
body{
    font-family:Microsoft JhengHei;
    background-color: #f7f7f7;
}
#banner{
    max-width: 1920px;
    height: 380px;
    margin: 0 auto;
    background: url(assets/Hero.png) no-repeat;
    background-size:100% 100%; 
    text-align: center;
}
#banner .title{
    margin: auto;
    position: relative;
    top: 90px;
}
#banner .title h1{
    font-size: 40px;
    color: #ffffff;

}
#banner .select{
    position: relative;
    top: 165px;
}
#banner .select .selectForm{
    width: 200px;
    height: 48px;
    padding-left: 18px;
    border:3px solid #FFF; 
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    -webkit-appearance:none; 
    background-image: url(assets/icons_down.png) ;
    background-repeat:no-repeat; 
    background-position:center right 10px; 
}
#banner .category{
    position: relative;
    top: 255px;
}
#banner .category .wrap{
    width: 800px;
    height: 112px;
    background-color: #FFF;
    margin:auto;
    border-radius:5px; 
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.2);
}
#banner .category h1{
    padding:20px 0 14px 26px;
    font-size: 18px;
    text-align: start;
}
#banner .category ul{
    display: flex;
    justify-content: space-around;
}
#banner .category a{
    text-decoration: none;
}
#banner .category li{
    width: 130px;
    height: 42px;
    font-size: 20px;
    color: #FFF;
    border-radius:5px; 
    text-align: center;
    line-height: 39px;
}
#banner .smallImg{
    width: 900px;
    height: 24px;
    background: url(assets/icons3_down.png) no-repeat;
    background-size:cover; 
    margin: auto;
    position: relative;
    top:328px;
}

#about{
    max-width: 1920px;
    min-height: 436px;
    padding: 30px;
    padding-top: 210px;
    margin: 0 auto;
    background-color: #f7f7f7;
}
#about .title{
    font-size: 36px;
    text-align: center;
    padding-bottom: 24px;
    color: #8A82CC;
}
#about .wrap{
    position: relative;
    width: 1024px;
    padding-left: 25px;
    margin: auto;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
#about .wrap .item{
    text-align: left;
    width: 464px;
    height: 273px;
    margin-left: 16px;
    margin-bottom: 30px;
}
#about .wrap .item .backroungImg{
    width: 464px;
    height: 155px;
    position: relative;
    font-family: SFNSDisplay;
}
#about .wrap .item .backroungImg img{
    width: 464px;
    height: 155px;
}
#about .wrap .item .backroungImg .name{
    color: #FFFFFF;
    font-size: 24px;
    position: absolute;
    left: 22px;
    bottom: 14px;
}
#about .wrap .item .backroungImg .zone{
    color: #FFFFFF;
    font-size: 16px;
    position: absolute;
    right: 24px;
    bottom: 11px;
}
#about .wrap .item .content{
    height: 118px;
    width: 464px;
    background-color: #fff;
    font-family: AppleSystemUIFont;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position:relative;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    padding:10px;
}
#about .wrap .item .content img{
    padding-right: 10px;
    vertical-align: bottom; 
}
#about .wrap .item .content p{
    padding: 5px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#about .wrap .item .content .ticketinfo{
    position: absolute;
    right: 5px;
    bottom: 5px;
}
#about .container .pagination{
    margin: auto;
    width: fit-content;
}

#about .goTop{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image:url(assets/btn_goTop.png); 
    position: absolute;
    bottom: 30px;
    right: 10px;
    cursor: pointer;    
}
#page{
    padding-bottom: 20px;
}
#page .pagination{
    justify-content: center;
}





#footer{
    width: 1024px;
    height: 90px;
    text-align: center;
    font-size: 14px;
    background-color: #559AC8;
    margin: auto;
}
#footer .webName{
    color: white;
    padding: 24px 0 15px;
}
#footer .infoFrom{
    color: #FFD366;
}

